{% extends "base/base_template.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/kanban_board_css/create_task.css' %}" />

<div class="mdl-card__title mdl-card--expand border-b-4 mb-4">
   <div class="mdl-card--border text-center w-full text-xl font-semibold">
      <a href="{% url 'index_kanban_board' %}"
         class="mdl-card--border text-2xl font-semibold text-black hover:text-gray-500"> KANBAN Board</a>
   </div>
</div>

<div class="flex justify-center">
   <div class="topnav">

      <a class="active w-full">Edit Task</a>

      <div id="add_Task" class="w-full flex-col items-center pt-2" style="display: flex">
         <form action={% url 'edit_task_successfully' editTask.id %} method="post" class="w-full px-4">
            {% csrf_token %} {{ form.as_p }}
            <input class="w-full my-2" type="text" name="editTitle" id="editTitle" value="{{ editTask.title }}"
               minlength="5" maxlength="50" required />

            <textarea class="w-full my-2" name="editDescription" id="editDescription" placeholder="Description..."
               minlength="10" maxlength="255" required cols="30" rows="3 ">
{{ editTask.description }}</textarea>
            {% for subtask in subtasks %}

            <input class="hidden" name="subtask_id" value="{{subtask.pk}}">
            <div class="flex justify-between my-2 bg-white">
               <input class="flex items-center border-solid text-lg w-[calc(100%-2rem)]" name="{{subtask.pk}}_Title" value="{{ subtask.title }}">
               <div class="hidden">{{subtask.pk}}</div>
               
               {% if subtask %}
               
               <div class="w-8 h-8 flex justify-center items-center rounded-r hover:cursor-pointer" id="{{ subtask.title }}_color">
                 {% if subtask.status_subtask == 0 %}
                <input name="{{subtask.pk}}_checkbox" class="m-1 no-outline check-input" type="checkbox" >
                
               </div>
               {% else %}
               <input name="{{subtask.pk}}_checkbox" class="m-1 no-outline check-input" type="checkbox" checked="checked">      
               <div class="hidden">{{subtask.pk}}</div>
               </div>
               {% endif %} 
               {% endif %}
            </div>



            {% endfor %}

            <div class="flex justify-evenly items-center my-2">
               <label class="w-2/6" for="prio">Prio:</label>
               <select class="w-4/6" name="editPrio" id="editPrio">
                  <option selected="selected">{{ editTask.prio }}</option>
                  <option value="LOW">Low</option>
                  <option value="MEDIUM">Medium</option>
                  <option value="URGENT">Urgent</option>
               </select>
            </div>

            <div class="flex justify-evenly items-center my-2">
               <label class="w-2/6" for="memberType">Area:</label>
               <select class="w-4/6" name="editType" id="editType" required>
                  <option selected="selected">{{ editTask.member_type }}</option>
                  <option value="Frontend">Frontend</option>
                  <option value="Backend">Backend</option>
                  <option value="Ui Ux Design">UI/UX Design</option>
                  <option value="Product Owner">Product Owner</option>
                  <option value="Srum Master">Srum Master</option>
                  <option value="Testing">Testing</option>
               </select>
            </div>

            <div class="flex justify-evenly items-center my-2">
               <label class="w-2/6" for="prio">Assigned:</label>
               <select class="w-4/6" name="editAssigned" id="editAssigned">
                  <option selected="selected">{{ currentUser }}</option>
                  {% for user in users %}
                  <option value="{{ user.id }}">{{ user.username }}</option>
                  {% endfor %}
               </select>
            </div>

            <div class="flex justify-evenly items-center my-2">
               <label class="w-2/6" for="status">Status:</label>
               <select class="w-4/6" name="editStatus" id="editStatus" required>
                  <option selected="selected">{{ editTask.status }}</option>
                  <option value="ToDo">ToDo</option>
                  <option value="Working">Working</option>
                  <option value="Waiting">Waiting</option>
                  <option value="Done">Done</option>
               </select>
            </div>

            <div class="flex justify-between mt-6 gap-x-4 mb-0">

               <a class="w-48 text-white px-4 py-2 my-2 bg-blue-800 hover:bg-opacity-50 text-center rounded-md"
                  href="{% url 'index_kanban_board' %}">Cancel edit</a>

               <button class="w-48 text-white px-4 py-2 my-2 bg-blue-800 hover:bg-opacity-50 font-semibold rounded-md"
                  type="submit">Edit task</button>
            </div>
         </form>
      </div>
   </div>
</div>

{% endblock %}