{% extends "base/base_template.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/kanban_board_css/kanban_board.css' %}" />
<link rel="stylesheet" href="{% static 'css/home_css/home.css' %}" />

{% if user.is_authenticated %}
<div class="flex justify-center border-b-4 mb-4">
   <div class="w-full sm:max-w-lg flex justify-evenly items-center">
      <div class="mdl-card__title mdl-card--expand flex items-center">
         <div class="mdl-card--border text-2xl font-semibold">KANBAN Board</div>
      </div>
      <form method="post" action="add-task/" class="flex items-end h-full">
         {% csrf_token %}
         <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--primary flex justify-end" style="margin-right: 1rem" id="tt3">
            <i class="material-icons">add_task</i>
         </button>
      </form>
      <div class="mdl-tooltip mdl-tooltip--left" data-mdl-for="tt3">
         <strong>Add new Task</strong>
      </div>
   </div>
</div>

<div class="flex justify-center">
   <div class="w-full sm:max-w-lg xl:max-w-full xl:gap-x-4 xl:flex h-5/6">
      <div class="topnav flex flex-col items-center padding-top-1rem xl:w-1/4">
         <a href="javascript:void(0);" onclick="myFunction('to_do')" class="active w-full"><div>To Do</div>
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ toDos.count }}">assignment_ind</div>
         </a>
     
         <div id="to_do" class="bg-topnav w-full flex flex-col items-center py-2 list-hidden">
            {% for todo in toDos %} 
            <div class="border-2 border-gray-300 bg-blue-100 w-11/12 rounded-md my-2">
               <form action="edit-task/" method="post" class="w-full px-4">
                  {% csrf_token %} {{ form.as_p }}
                  <div class="hidden" id="taskId_{{ todo.id }}"><input name="taskId">{{ todo.id }}</input></div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center font-semibold text-xl" id="todoTitleHidden_{{ todo.id }}" for="todoTitle">{{ todo.title }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center text-lg" id="todoDescriptionHidden_{{ todo.id }}" for="todoDescription">{{ todo.description }}</label>
                  </div>
                  
                  {% for subtask in subtasks %} 

                     {% if subtask.task_id == todo.pk %}
                     <div class="flex justify-between disable-input-user my-2">
                      <div class="flex justify-center w-full items-center border-solid text-lg">
                  {{ subtask.title }}</div>
                     {% if subtask.status_subtask == 0 %}
                     <div class="w-10 -m-1 flex justify-center items-center rounded-r bg-red-600 hover:bg-opacity-50 hover:cursor-pointer" >
                     <i class="material-icons">radio_button_unchecked</i>
                     </div>
                     {% else %}
                     <div class="w-10 -m-1 flex justify-center items-center rounded-r bg-green-600 hover:bg-opacity-50 hover:cursor-pointer" >
                     <i class="material-icons">task_alt</i>
                     </div>
                     {% endif %}
                  </div>
                        
                     {% endif %} 

                  {% endfor %}
                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Prio:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="todoPrioHidden_{{ todo.id }}" for="prio">{{ todo.prio }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="memberType">Area:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="todoAreaHidden_{{ todo.id }}" for="memberType">{{ todo.member_type }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Assigned:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="todoAssignedHidden_{{ todo.id }}" for="prio">
                        {% for user in users %}
                        
                        {% if user.id == todo.assigned_id %}{{ user.username }}{% endif %}
                        
                        {% endfor %} </label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="status">Status:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="todoStatusHidden_{{ todo.id }}" for="status">{{ todo.status }}</label>
                  </div>

                  <div class="flex justify-evenly w-full my-2 gap-x-4">
                     <a href="{% url 'edit_task' task_id=todo.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Edit task</a>
                     <a href="{% url 'delete_task' task_id=todo.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Delete task</a>
                  </div>
               </form>
            </div>
            {% endfor %}
         </div>
      </div>

      <div class="topnav flex flex-col items-center xl:w-1/4">
         <a href="javascript:void(0);" onclick="myFunction('working')" class="active w-full"><div>Working</div><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ workings.count }}">assignment</div></a>
         <div id="working" class="w-full flex flex-col items-center py-2 bg-topnav list-hidden">
            {% for working in workings %}
            <div class="border-2 border-gray-300 bg-blue-100 w-11/12 rounded-md my-2">
               <form action="edit-task/" method="post" class="w-full px-4">
                  {% csrf_token %} {{ form.as_p }}
                  <div class="hidden" id="taskId_{{ working.id }}"></div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center font-semibold text-xl" id="workingTitleHidden_{{ working.id }}" for="workingTitle"
                        >{{ working.title }}</label
                     >
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center text-lg" id="workingDescriptionHidden_{{ working.id }}" for="workingDescription"
                        >{{ working.description }}</label
                     >
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Prio:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="workingPrioHidden_{{ working.id }}" for="prio">{{ working.prio }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="memberType">Area:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="workingAreaHidden_{{ working.id }}" for="memberType">{{ working.member_type }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Assigned:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="workingAssignedHidden_{{ working.id }}" for="prio"> {% for user in users %}
                        
                        {% if user.id == working.assigned_id %}{{ user.username }}{% endif %}
                        
                        {% endfor %}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="status">Status:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="workingStatusHidden_{{ working.id }}" for="status">{{ working.status }}</label>
                  </div>

                  <div class="flex justify-evenly w-full my-2 gap-x-4">
                     <a href="{% url 'edit_task' task_id=working.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Edit task</a>
                      <a href="{% url 'delete_task' task_id=working.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Delete task</a>
                     
                  </div>
               </form>
            </div>
            {% endfor%}
         </div>
      </div>

      <div class="topnav flex flex-col items-center xl:w-1/4">
         <a href="javascript:void(0);" onclick="myFunction('waiting')" class="active w-full"><div>Waiting</div><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ waitings.count }}">hourglass_empty</div></a>
         <div id="waiting" class="w-full flex flex-col items-center py-2 bg-topnav list-hidden">
            {% for waiting in waitings %}
            <div class="border-2 border-gray-300 bg-blue-100 w-11/12 rounded-md my-2">
               <form action="edit-task/" method="post" class="w-full px-4">
                  {% csrf_token %} {{ form.as_p }}
                  <div class="hidden" id="taskId_{{ waiting.id }}"></div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center font-semibold text-xl" id="waitingTitleHidden_{{ waiting.id }}" for="waitingTitle"
                        >{{ waiting.title }}</label
                     >
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center text-lg" id="waitingDescriptionHidden_{{ waiting.id }}" for="waitingDescription"
                        >{{ waiting.description }}</label
                     >
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Prio:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="waitingPrioHidden_{{ waiting.id }}" for="prio">{{ waiting.prio }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="memberType">Area:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="waitingAreaHidden_{{ waiting.id }}" for="memberType">{{ waiting.member_type }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Assigned:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="waitingAssignedHidden_{{ waiting.id }}" for="prio"> {% for user in users %}
                        
                        {% if user.id == waiting.assigned_id %}{{ user.username }}{% endif %}
                        
                        {% endfor %}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="status">Status:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="waitingStatusHidden_{{ waiting.id }}" for="status">{{ waiting.status }}</label>
                  </div>

                  <div class="flex justify-evenly w-full my-2 gap-x-4">
                     <a href="{% url 'edit_task' task_id=waiting.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Edit task</a>
                      <a href="{% url 'delete_task' task_id=waiting.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Delete task</a>
                  </div>
               </form>
            </div>
            {% endfor%}
         </div>
      </div>

      <div class="topnav  flex flex-col items-center xl:w-1/4">
         <a href="javascript:void(0);" onclick="myFunction('done')" class="active w-full"><div>Done</div><div class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ dones.count }}">task_alt</div></a>
         <div id="done" class="w-full flex flex-col items-center py-2 bg-topnav list-hidden">
            {% for done in dones %}
            <div class="border-2 border-gray-300 bg-blue-100 w-11/12 rounded-md my-2">
               <form action="edit-task/" method="post" class="w-full px-4">
                  {% csrf_token %} {{ form.as_p }}
                  <div class="hidden" id="doneId_{{ done.id }}"></div>
                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center font-semibold text-xl" id="doneTitleHidden_{{ done.id }}" for="doneTitle">{{ done.title }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <label class="w-full text-center text-lg" id="doneDescriptionHidden_{{ done.id }}" for="doneDescription">{{ done.description }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Prio:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="donePrioHidden_{{ done.id }}" for="prio">{{ done.prio }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="memberType">Area:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="doneAreaHidden_{{ done.id }}" for="memberType">{{ done.member_type }}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="prio">Assigned:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="doneAssignedHidden_{{ done.id }}" for="prio"> {% for user in users %}
                        
                        {% if user.id == done.assigned_id %}{{ user.username }}{% endif %}
                        
                        {% endfor %}</label>
                  </div>

                  <div class="flex w-full items-center my-2 border-solid disable-input-user">
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" for="status">Status:</label>
                     <div class="w-1/12"></div>
                     <label class="w-5/12 text-left" id="doneStatusHidden_{{ done.id }}" for="status">{{ done.status }}</label>
                  </div>

                 <div class="flex justify-evenly w-full my-2 gap-x-4">
                      <a href="{% url 'edit_task' task_id=done.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Edit task</a>
                      <a href="{% url 'delete_task' task_id=done.id  %}" class="w-48 text-white text-center px-4 py-2 my-2 bg-blue-800 rounded-md hover:cursor-pointer hover:bg-opacity-50">Delete task</a>  
                  </div>
                  
               </form>
              
            </div>
             {% endfor%}
         </div>
      </div>
   </div>
   <script>
      function myFunction(content) {
         var x = document.getElementById(content);
         if (x.classList.contains("list-hidden")) {
            x.classList.remove('list-hidden');
         } else {
            x.classList.add('list-hidden');
         }
      }
   </script>

 
</div>
{% else %}
<div class="contain_center_content">
   <div class="demo-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand"></div>
      <div class="mdl-card__supporting-text center-elements">Access denied!</div>
      <div class="mdl-card__actions mdl-card--border flex justify-evenly">
         <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{% url 'login' %}"> Log In </a>
         <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{% url 'signup_user' %}"> Sign Up </a>
      </div>
   </div>
  </div>
   {% endif %}
  
{% endblock %}